<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="localdb"
		     connectionString="Server=dmc868.mysql.database.azure.com;Port=3306;Database=client_schedule;Uid=sqlUser;Pwd=Passw0rd!;SslMode=Required;"
		     providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>